<!DOCTYPE html>
<html>
  <head>
    <title>RideShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='layout-container'>
    <div class='topbar'>
      <%= render 'nav'%>
    </div>
    <div id='page-outer'>
      <div id='page-container' class='AppContent layout_wrapper'>
        <div class='app-dashboard left_side_bar'>
          <div class='menu_header'>
            <span class='rides-menu-text'>Rides Menu<span>
          </div>
          <div class='_list'>
            <a href='/rides?ride_type=Offers' class='_list_item'>
              <span class='_list_text'>Current Ride Offers</span>
            </a>
            <a href='/rides?ride_type=Requests' class='_list_item'>
              <span class='_list_text'>Current Ride Requests</span>
            </a>
            <a href='/rides?ride_type=MyRideOffers' class='_list_item'>
              <span class='_list_text'>My Ride Offers</span>
            </a>
            <a href='/rides?ride_type=MyRequests' class='_list_item'>
              <span class='_list_text'>My Ride Requests</span>
            </a>
            <a href='/rides?ride_type=MyRecievedRides' class='_list_item'>
              <span class='_list_text'>Ride Offers Received by Me</span>
            </a>
            <a href='/rides?ride_type=RidesFullfilledByMe' class='_list_item'>
              <span class='_list_text'>Ride Requests Fullfilled by Me</span>
            </a>
          </div>
        </div>
        <div class='main-content'>
          <%= yield %>
        </div>
      <div>
    </div>
    </div>
  </body>
</html>
