<!DOCTYPE html>
<html>
  <head>
    <title>RideShare: Signin with your Andela Email</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='welcome'>
    <div class='wrapper'>
      <%= yield %>
    <div>
  </body>
</html>
